body {
  .game-box {
    height: 18em;
    padding: 0;
    position: relative;
    animation: opac 0.8s;

    .card {
      height: inherit;
      border-radius: 0;

      .h5 {
        margin-top: 25px;
      }

      .badge {
        position: absolute;
        right: 15px;
        top: 15px;
      }
    }
  }

  @keyframes opac {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
